
{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8 p-5">
            <h1>Olivia Wilde:</h1>
            <p>
                Bella, hermosa, una mujer con todos los atributos que cualquier hombre desearía tener.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/olivia_wilde.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer }}